<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqmLgt6dcf2JEmD4Hs8L7VQ5atffYnGHc</string>
	<key>GCM_SENDER_ID</key>
	<string>432481196759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dysoft.mortgageloan</string>
	<key>PROJECT_ID</key>
	<string>morgageloan-ad303</string>
	<key>STORAGE_BUCKET</key>
	<string>morgageloan-ad303.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432481196759:ios:9785c8f30fb2b359a42e92</string>
</dict>
</plist>